<div class="about">
  <div style="text-align:center">
    <h1><%= name %></h1>
    <img src="http://localhost:3000/images/ProfilePic.jpg" style="height: 200px;">
    <p><%= address %><br></br><%= email %><br></br><%= contact %><br></br></p>
    <p><%= bio %></p><br></br><br></br>
  </div>

</div>
